@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

$font: "Patrick Hand";
body {
    margin: 0;
    height: 100vh;
    background-color: #222;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr;
    grid-template-rows: 1fr 4fr 3fr 2fr 2fr;
    height: 100vh;
    margin: 2em;
    gap: 1.1em;
}

// header 
header {
    grid-area: 1 / 1 / 2 / 4;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin: 10px;
    border-radius: 40px;
    color: white;
}

header img {
  height: auto;
  width: 30%;
  position: relative;
  margin-right: auto;
}

table {
  
  
}

td {

  background-color: beige;
  font-family: $font;
  font-size: 38px;
  letter-spacing: 4.6px;
  word-spacing: 5.4px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}
// grid content 

div.wordsOr {
  grid-area: 3 / 1 / 4 / 2;
  background-color: beige;
font-family: $font;
font-size: 38px;
letter-spacing: 4.6px;
word-spacing: 5.4px;
color: #000000;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
text-align: center;
}

div.wordsWeb {
  grid-area: 3 / 2 / 4 / 3;
  background-color: bisque;
  font-family: $font;
  font-size: 38px;
letter-spacing: 4.6px;
word-spacing: 5.4px;
color: #000000;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
text-align: center;
}

div.wordsDevelopment {
grid-area: 3 / 3 / 4 / 4;
background-color: cadetblue;
font-family: $font;
font-size: 38px;
letter-spacing: 4.6px;
word-spacing: 5.4px;
color: #000000;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
text-align: center;
}



div.candy {
  grid-area: 4/ 1 / 5 / 3;
  background-color: #222;
  text-align: center;
}

section.tom {
  grid-area: 5 / 1 / 6 / 4;
  background-color: rgb(225, 198, 136);
}



/* Dropdown button on hover & focus */
#dropbtn:hover, #dropbtn:focus {
    background-color: transparent;
  }
  
  .show {
    display: block;
  }
  
  /* Dropdown Button */
  #dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    color: black;
    background-color: transparent;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    background-color: rgb(211, 158, 211);
    overflow: visible;
    z-index: 51;
  }
  
  /* Links inside the dropdown */
  .dropdown-content > a {
    color: pink;
    padding: 1.5rem;
    display: block;
    background-color: transparent;
  }
  
  button #dropbtn {
    margin: 5px;
    border: 40px lightcoral;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: transparent;
    overflow: visible;
    
  }
  .dropdown-content a:hover .animate__animated.animate__pulse {
    --animation-duration: 6s;
    --animation-delay: 2ms;
    font-family: 'Patrick Hand', cursive;;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #666;
    position: absolute;
    overflow: visible;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover #dropbtn {
    background-color: transparent;
  }

  // span logo 
  h1 {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;

  }
  
  h1 span {
    transition: 0.5s linear;
  }
  
  h1:hover span:nth-child(1) {
    margin-right: 5px;
  }
  
  h1:hover span:nth-child(1):after {
    content: "'";
  }
  
  h1:hover span:nth-child(2) {
    margin-left: 30px;
  }
  
  h1:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }

  // folder 
  article {
    grid-area: 2 / 1 / 3 / 4;
    background-color: transparent;
  }

  .tab {
    font-family: "Patrick Hand";
    text-transform: uppercase;
    line-height: 0.8;
    display: inline-block;
    margin-left: -35px;
    filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.05));
    border: none;
    border-radius: 6px 6px 0 0;
    position: relative;
    margin-right: 4rem;
    background: var(--background);
    white-space: nowrap;
    cursor: pointer;
    background: var(--background);
  }
  
  .tab:focus {
    outline: none;
  }
  
  .tab:focus span {
    border-bottom: 2px solid;
    border-radius: 0;
  }
  
  .tab:first-of-type {
    margin-left: 30px;
  }
  
  .tab div {
    background: var(--background);
    padding: 6px 0;
    position: relative;
    z-index: 10;
  }
  
  .tab span {
    display: inline-block;
    border: 2px solid transparent;
    padding: 6px 15px 6px;
    border-radius: 5px;
    z-index: 5;
    position: relative;
    font-size: 140%;
    color: #fff;
    min-width: 6rem;
  }
  
  .tab:before, .tab:after {
    content: "";
    height: 100%;
    position: absolute;
    background: var(--background);
    border-radius: 8px 8px 0 0;
    width: 30px;
    top: 0;
  }
  
  .tab:before {
    right: -16px;
    transform: skew(25deg);
    border-radius: 0 8px 0 0;
  }
  
  .tab:after {
    transform: skew(-25deg);
    left: -16px;
    border-radius: 8px 0 0 0;
  }
  
  .tab.active {
    z-index: 50;
    position: relative;
  }
  
  .tab.active span {
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: black;
  }
  
  .content {
    border-radius: 10px;
    position: relative;
    width: 100%;
  }
  
  .content #tab-1 {
    display: block;
  }
  
  .content:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: inherit;
  }
  
  .content__inner {
    font-family: "Yomogi", sans-serif;
    display: none;
    background: var(--background);
    border-radius: inherit;
    padding: 1rem;
    filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.1));
    z-index: 5;
  }
  
  .folder {
    margin: 1rem auto;
    max-width: 50rem;
    width: 100%;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    justify-content: center;
  }
  
  .folder ::-webkit-scrollbar {
    background: transparent;
    /* Chrome/Safari/Webkit */
    display: none;
  }
  
  .page {
    padding: 1.5rem;
    border-radius: 2px;
    min-height: 20rem;
    line-height: 160%;
    --background: rgb(211, 158, 211);

    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
    background-image: linear-gradient(#e4e4e4 1px, transparent 1px);
    background-size: 8% 8%, 2px 2px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

  }

  main{
    display: flex;
    align-items: center;
  }

  main {
    
    border: 1px solid #c3c3c3;
    display: flex;
    
  }
  .mocks {
    display: block;
  }
  
  main p:nth-of-type(1) {flex-grow: 1;}
  main ul:nth-of-type(2) {flex-grow: 3;}
  

  p {
    font-family: 'Patrick Hand', cursive;
    position: relative;
    
  }

  #Products {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    

  }
  
  product{
    box-sizing: border-box;
    width: 20%;
    padding: 1.5em;
    font-size: 16px;
  }

//   main div:nth-of-type(1) {
//     flex-grow: 1;}
// main div:nth-of-type(2) {
//   flex-grow: 3;}

  img {
    flex-grow: var(--animation-delay);
  }

  .animate__animated.animate__repeat-2{
    font-family: 'Patrick Hand', cursive;
    font: 400;
  }

  .animate {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xxx-large;

  }

  .mocks {
    display: flex;
    flex-direction: column;
    margin-right: auto;

  }
  

  

  #tots {
      color: #616161;
      background: #bababa;
      text-shadow: #e0e0e0 1px 1px 0;
      color: #616161;
      background: #bababa;
      
  }
  
  .tabs {
    padding: 2rem 0 0 0;
    width: 100%;
    margin: 0 0.5rem;
    overflow-x: auto;
    width: calc(100% - 1rem);
    white-space: nowrap;
  }
  
  @media (min-width: 50rem) {
    .tabs {
      margin: 0 2rem;
      width: calc(100% - 4rem);
    }
  }

  * { box-sizing: border-box; }



.product-list {
  .product {
     width: 100%;
     min-width: 320px;
  }
  
  .product-image {
    float: left; 
    margin-right: 20px; 
    height: auto;
    width: 83px;
  } 
}

.product {
  padding: 10px;
  margin-top: 20px; 
  border: 1px solid #ddd;
  
  &:hover {
    border: 1px solid #aaa;
    cursor: pointer;
  }
}

.product-span3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  height: auto;
  max-width: fit-content;
}



  #solid:checked ~ .folder .tab:nth-of-type(1),
  #solid:checked ~ .folder .content__inner:nth-of-type(1) {
    --background: rgb(211, 158, 211);
  }
  
  #solid:checked ~ .folder .tab:nth-of-type(2),
  #solid:checked ~ .folder .content__inner:nth-of-type(2) {
    --background: #222222;
  }
  
  #solid:checked ~ .folder .tab:nth-of-type(3),
  #solid:checked ~ .folder .content__inner:nth-of-type(3) {
    --background: rgb(211, 158, 211);
  }
  
  #solid:checked ~ .folder .tab:nth-of-type(4),
  #solid:checked ~ .folder .content__inner:nth-of-type(4) {
    --background: #1c1b1b;
  }
  
  #solid:checked ~ .folder .tab {
    border: 2px solid;
    border-width: 2px 0 0;
  }
  
  #solid:checked ~ .folder .tab:before, #solid:checked ~ .folder .tab:after {
    top: -2px;
    border-top: 2px solid;
  }
  
  #solid:checked ~ .folder .tab:before {
    border-right: 2px solid;
  }
  
  #solid:checked ~ .folder .tab:after {
    border-left: 2px solid;
  }
  
  #solid:checked ~ .folder .tab.active span {
    border: 2px solid;
  }
  
  #solid:checked ~ .folder .tab.active:focus span {
    outline: 1px solid rgba(255, 255, 255, 0.7);
  }
  
  #solid:checked ~ .folder .tab:not(.active) {
    border-bottom: 2px solid;
  }
  
  #solid:checked ~ .folder .tab:not(.active):before, #solid:checked ~ .folder .tab:not(.active):after {
    box-shadow: 0 1.5px 0 black;
  }
  
  #solid:checked ~ .folder .content {
    top: -2px;
    left: -2px;
  }
  
  #solid:checked ~ .folder .content__inner {
    box-shadow: 0 0 0 1.5px black;
  }
  
  #solid:checked ~ .folder .page {
    border: 2px solid;
  }
  
  #shadow:checked ~ .folder .tab {
    --background: linear-gradient(to bottom, #fee9a5, #f9d877);
  }
  
  #shadow:checked ~ .folder .tab span {
    color: black;
  }
  
  #shadow:checked ~ .folder .tab:focus span {
    border-bottom-color: black;
  }
  
  #shadow:checked ~ .folder .tab.active:focus span {
    border-color: black;
  }
  
  #shadow:checked ~ .folder .content__inner {
    --background: linear-gradient(to bottom, #f9d877, #fee9a5);
  }
  
  /* radio buttons styling */
  input.variation {
    display: none;
  }
  
  input.variation + label {
    display: flex;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;
    color: white;
  }
  
  input.variation + label .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid white;
  }
  
  input.variation:checked + label .circle {
    background: white;
    box-shadow: inset 0 0 0 3px #3c1053;
  }
  
  input.variation:nth-of-type(1) + label {
    justify-self: flex-end;
  }
  
  .animate__anamated.animate__heartBeat {
    --animation-duration: 2s;
  }






// section nom








html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}






// footer



div.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
  }
  
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }
  
  .site-footer hr.small {
    margin: 20px 0;
  }
  
  .site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  
  .site-footer a {
    color: #737373;
  }
  
  .site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
  }
  
  .footer-links {
    padding-left: 0;
    list-style: none;
  }
  
  .footer-links li {
    display: block;
  }
  
  .footer-links a {
    color: #737373;
  }
  
  .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
  }
  
  .footer-links.inline li {
    display: inline-block;
  }
  
  .site-footer .social-icons {
    text-align: right;
  }
  
  .site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
  }
  
  .copyright-text {
    margin: 0;
  }
  
  @media (max-width: 991px) {
    .site-footer [class^=col-] {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 767px) {
    .site-footer {
      padding-bottom: 0;
    }
    .site-footer .copyright-text, .site-footer .social-icons {
      text-align: center;
    }
  }
  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .social-icons li {
    display: inline-block;
    margin-bottom: 4px;
  }
  
  .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
  }
  
  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
  }
  
  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
  }
  
  .social-icons a.facebook:hover {
    background-color: #3b5998;
  }
  
  .social-icons a.twitter:hover {
    background-color: #00aced;
  }
  
  .social-icons a.linkedin:hover {
    background-color: #007bb6;
  }
  
  .social-icons a.dribbble:hover {
    background-color: #ea4c89;
  }
  
  @media (max-width: 767px) {
    .social-icons li.title {
      display: block;
      margin-right: 0;
      font-weight: 600;
    }
  }





.spotlight{
    color: #333;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    font-size: 5rem;
    letter-spacing: -0.3rem;
    position: relative;
    margin-right: auto;
  }
  
  
  
  .spotlight::after {
    content: attr(data-spotlight);
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://media.istockphoto.com/vectors/abstract-blur-background-rainbow-mesh-gradient-color-power-pattern-vector-id1130076181?k=6&m=1130076181&s=612x612&w=0&h=Wdgg1tDVgb126pXZnhuB6hzVZ072z5vRBE7W81ieqFE=);
    -webkit-background-clip: text;
    color: transparent;
    clip-path: ellipse(100px 100px at 0% 50%);
    animation: spotlight 5s infinite;
  }
  
  @keyframes spotlight {
    0% {
        clip-path: ellipse(100px 100px at 0% 50%);
    }
    50% {
        clip-path: ellipse(100px 100px at 100% 50%);
    }
    100% {
        clip-path: ellipse(100px 100px at 0% 50%);
    }
  }

