@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
* {
  box-sizing: border-box;
}

:root {
  --animate-duration: 1s;
  --animate-delay: 5s;
  --animate-repeat: 4;
}

body {
  min-height: 100vh;
  display: flex;
  background-color: #30354c;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 1.8;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 6;
  color: rgba(221, 28, 28, 0.5);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  line-height: 1;
  cursor: pointer;
  text-shadow: 0 1px 0px rgba(91, 51, 128, 0.1);
}
.contact-form {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
  z-index: 5;
  padding: 80px 50px;
  transform: translate3d(-100%, 0, 0);
  transition: 0.3s ease;
  border-radius: 5px;
}
.contact-form.active {
  transform: translate3d(0, 0, 0);
}
.contact-form .close {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 30px;
  top: 30px;
}

.contact:hover {
  background: #DB6E82;
}

.cards {
  margin: auto;
  background: #201717;
  border-radius: 5px;
  overflow: scroll;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 20px rgba(0, 0, 0, 0.2);
  width: 768px;
  height: 550px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 30px;
}
.cards .card-toggle {
  z-index: 4;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 1.8;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.3s ease;
  background-color: lightcoral;
}
.cards .card-toggle.active {
  color: white;
  border-color: white;
}
.cards .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: -webkit-clip-path 1s ease;
  padding: 100px 0 0;
  overflow: hidden;
  border-radius: 5px;
}
.cards .card-content .row {
  display: table;
  width: 100%;
  height: 100%;
}
.cards .card-content .col {
  width: 50%;
  height: 100%;
  display: table-cell;
  transition: 0.3s ease 0.3s;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  background-color: #30354c;
}
.cards .card-content .col h2 {
  font-weight: 300;
  font-size: 3em;
  line-height: 1;
  margin: 0 0 30px;
  color: #DB6E82;
}
.cards .card-content .col h2 .animate__animated.animate__headShake {
  --animate-duration: 2s;
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
  --animate-repeat: 4;
  animation-delay: 5s;
}
.cards .card-content .col h2 .animate__animated.animate__headShake :root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 2;
}
.cards .card-content .col h2 strong {
  font-weight: 900;
  display: block;
}
.cards .card-content .col p {
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  margin: 0 0 30px;
  color: #DB6E82;
}
.cards .card-content .col img {
  max-width: 90%;
  width: 100%;
}
.cards .card-content .col.left {
  transform: translate3d(0, 0, 0);
  opacity: 0;
  padding-left: 50px;
  background-color: #30354c;
}
.cards .card-content .col.right {
  transform: translate3d(100px, 0, 0);
  opacity: 0;
  padding-left: 30px;
  background-color: #30354c;
}
.cards .card-content .col.right .links {
  background-color: #201717;
}
.cards .card.active .col {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.cards #overview .card-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 1;
  color: white;
}
.cards #overview .card-content {
  background-color: #30354c;
  -webkit-clip-path: circle(0% at 91.5% 75px);
}
.cards #overview.active .card-toggle {
  opacity: 0;
}
.cards #overview.active .card-content {
  -webkit-clip-path: circle(270% at 91.5% 75px);
}
.cards #overview .right {
  background: url(https://dl.dropboxusercontent.com/u/26808427/cdn/james.png) no-repeat bottom right;
  background-size: contain;
  background-color: #30354c;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  width: auto;
}
.cards #overview .right nav {
  grid-area: 1/1/1/1;
  grid-area: 1/1/2/1;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cards #overview .right button {
  background-color: transparent;
}

#tags {
  display: contents;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Icons */
a {
  color: #fff;
  background: #DB6E82;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-table;
  width: 40px;
  height: 28px;
  padding-top: 12px;
  margin: 0 2px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}

a:hover {
  background: #ef92a3;
}

/* pop-up text */
.oLinks span {
  color: rgb(174, 41, 41);
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 14px;
  border-radius: 2px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */
.oLinks span:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
  background-color: black;
}

/* text pops up when icon is in hover state */
.oLinks:hover span {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
  background-color: #DB6E82;
  box-shadow: 0 2px 10px rgba(26, 22, 22, 0.1), 3px 5px 20px rgba(0, 0, 0, 0.2);
}

/* font awesome icons */
.oLinks:nth-of-type(1):before {
  content: "\f09a";
}

.oLinks:nth-of-type(2):before {
  content: "\f099";
}

.oLinks:nth-of-type(3):before {
  content: "\f0d5";
}

.oLinks:nth-of-type(4):before {
  content: "\f113";
}

.oLinks:nth-of-type(5):before {
  content: "\f17d";
}

.oLinks:nth-of-type(6):before {
  content: "\f1cb";
}

form .control {
  position: relative;
  margin-bottom: 10px;
  padding-top: 20px;
}
form .control label {
  position: absolute;
  top: 30px;
  left: 0;
  transition: 0.3s ease;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
}
form .control.submit {
  text-align: right;
}
form input, form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  outline: none;
  padding: 10px 0;
}
form .filled label, form input:focus + label, form textarea:focus + label {
  top: 0;
  font-size: 12px;
}
form textarea {
  height: 100px;
}
form input[type=submit] {
  width: auto;
  background-color: #F06292;
  padding: 10px 40px;
  color: white;
  border-radius: 40px;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
  color: white;
}

li:last-child {
  border-right: none;
}

li a {
  color: #666;
}

ul {
  position: -webkit-sticky; /* Safari */
  position: relative;
  top: 10px;
  float: right;
  left: -11px;
}

header {
  position: absolute;
  float: top;
}

/* display: inline; - By default, <li> elements are block elements. Here, we remove the line breaks before and after each list item, to display them on one line */
li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  position: absolute;
  left: 10rem;
  bottom: 10rem;
  top: -4rem;
}

li {
  float: left;
}

li a {
  display: block;
  color: #D4AEDE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
}

header {
  position: fixed;
  width: 100%;
  top: 20px;
  right: 16%;
  background-color: transparent;
  color: white;
  font-family: "Exo 2", sans-serif;
  padding: 1em;
  border-radius: 20px;
}

.card .row .form-group label {
  color: #D4AEDE;
}

.card .row .form-group input {
  background-color: #c6a5cf;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}
p {
  font-size: 15px;
  color: #333;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #333;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #666;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c6a5cf;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/*# sourceMappingURL=contactSASS.css.map */
