@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


* {
  margin: 0;
  padding: 0;
  border-size: border-box;
}

html, body {
  height: 100vh;
  background: #666666;
  font-family: 'Balsamiq Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.form-group {
  padding: 10px;
  text-align: left;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}  

.card {
  width: 70%;
  padding: px 90px 90px 120px;
  border: 8px solid rgb(0 0 0 / 30%);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 33px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 93px 10px 15px 10px;
  content: "";
  clear: both;
  background-color: lightcoral;
  position: relative;
  padding-bottom: px;
  height: 100vh;
}

.card nav {
  grid-area: 1/1/2/3;
  background-color: lightcoral;
  align-items: center;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  border-radius: 33px;
  padding: 20px 20px;
}

span {
  text-shadow: 3px 1px #000;
}
ul{
  box-shadow: 10px 20px 0 rgb(0 0 0 / 30%);
}

input {
  box-shadow: 20px 20px 0 rgb(0 0 0 / 30%);
}
label {
  
  font-family: "Patrick Hand";
  font-size: 38px;
  letter-spacing: 4.6px;
  word-spacing: 5.4px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}
textarea{
  box-shadow: 20px 20px 0 rgb(0 0 0 / 30%);
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
}



 h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 60px;
  text-transform: uppercase;
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
  grid-gap: 30px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 30px 20px 40px 0;
  transition: 0.5s;
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
}

.card .row .form-group input,
.card .row .form-group textarea {
  position: absolute;
  width: 90%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 50px;
}

.card .row .form-group label {
  line-height: 40px;
  color: #ffffff;
  font-size: 24px;
  margin: 0 0 0 30px;
  display: block;
  pointer-events: none;
}

.row .col:nth-child(6) {
  margin-top: 64px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
  border: 5px solid #ffffff;
  transition: all 0.5s;
}

.card .row input[type="submit"] {
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
  border: 5px solid rgba(255, 255, 255, 1);
  color: #ffffff;
  transition: all 0.4s;
}

@media screen and (max-width: 900px) {
  .card .row {
    grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
  }
  
  .card {
    padding: 20px;
  }
  
  .card h2 {
    font-size: 34px;
  }
  
  .card .row input[type="submit"] {
    width: 100%;
  }
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

ul {
  border: 1px solid #666;
  background-color: #666;
}

li a {
  color: #666;
}

ul {
  position: -webkit-sticky; /* Safari */
  position: relative;
    top: 10px;
    float: right;
    left: -11px;
}

header {
  position: absolute;
  float: top;

}
/* display: inline; - By default, <li> elements are block elements. Here, we remove the line breaks before and after each list item, to display them on one line */

li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
}

li {
  float: left;
}

li a {
  display: block;
  color: #D4AEDE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
}

header {
  position: fixed;
  width: 100%;
  top: 20px;
  right: 16%;
  background-color: transparent;
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
  border-radius: 20px
}

.card .row .form-group label { 
  color: #D4AEDE;
}

.card .row .form-group input {
  background-color: #c6a5cf;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}


@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
p {
  font-size: 15px;
  color: #333
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #333;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #666;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c6a5cf;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}